.sideNav {
    background-color: rgb(255, 245, 234);
        display: flex;
        width: 250px;
        height: 100% !important;
        flex-direction: column;
        text-align: center;
        border-right: 3px solid rgb(48, 48, 48);
        border-bottom: none !important;
        font-family: 'Ropa Sans', sans-serif;
        letter-spacing: 4px;
        line-height: 60px;
        position: fixed;
        padding-top: 7%;
        overflow: scroll;
        font-size: 30px !important;
}
.welcome{ 
    font-size: 22px;
}
.header{
    text-align: center;
    margin-left: 300px;
    margin-top: 5%;
    padding-bottom: 20px;
}
.btn{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
i{
    font-size: 40px;
    bottom: 0;
}
.dash-row{
    margin-left: 285px;
    text-align: center;
}